{% extends 'common.html' %}

{% block body %}

   <div class="container ">
   	<div class="row studnet_nav">
   	             <div class="col-sm-8">            
						     <ul class="nav nav-pills">
								  <li class="nav-item">
								    <a class="nav-link" href='{% url "student"%}'>History</a>
								  </li>
								  <li class="nav-item">
								    <a class="nav-link" href='{% url "quick_appointmnet"%}'>Book A New Slot</a>
								  </li>

							  </ul>	                             
                  </div>

                 <div class="col-sm-4">
					     <ul class="nav nav-pills">
							  <li class="nav-item">
							    <p>Welcome To CarCare</p>
							  </li>
							  <li class="nav-item">
							    <a class="nav-link" href="#">{{user_name}}</a>
							  </li>
							  <li class="nav-item">
							    <a class="nav-link" href='{% url "logout"%}'>LogOut</a>
							  </li>
						  </ul>	     
	       		 </div>
	  </div>
    </div>

    {% block common_customer %}
    
    {% endblock common_customer %}

{% endblock %}




