{% extends 'common.html' %}
{% load static %}
{% block body%}
    <div class="login" style = "background: url('{% static 'css/image/123.webp' %}'); background-repeat: repeat-x;background-size: cover;">
           <div class="container height">
				  <div class="row">
					    <div class="col-sm-6 offset-md-3">

	                            <h2 class="Login" >Welcome To Car Care<br>
	                           <form method="POST" action=""> {% csrf_token %}
						    		<div class="input-group mb-3">
									  <div class="input-group-prepend">
									    <span class="input-group-text" id="basic-addon1"><i class="far fa-user"></i></span>
									  </div>
									  <input type="text" class="form-control" name="username" autofocus="" required="" id="id_username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
									  
									</div>

									<div class="input-group mb-3">
									  <div class="input-group-prepend">
									    <span class="input-group-text" id="basic-addon1">*</span>
									  </div>
									  <input type="password" name="password" required="" id="id_password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
									</div>

									<div class="input-group mb-3">
									  <input type="submit" class="form-control submit" placeholder="submit" aria-label="submit" aria-describedby="basic-addon1">
									</div>
								</form>


								<a class="regi" href="{% url 'register_teacher'%}" style="color: #e0142d;background-color: #f3e97a; ">Sign Up For Admin</a> |
								<a class="regi" href="{% url 'register_student'%}" style="color: #e0142d;background-color: #f3e97a; ">Sign Up For User</a>
					    </div>

	     

				  </div>
			</div>
</div>

{%endblock%}
							
